.shortCardHeading {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.shortCardHeading>span {
    color: red;
}

.shortCardLink {
    text-decoration: none;
    color: black;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    margin-top: 11px;
    font-weight: 700;
}